.header{
    background-color: $main-color;
    color: #fff;
    display: flex;
    justify-content: center;
    position: relative;

    &__container{
        width: 100%;
        max-width: 1024px;
        margin: 20px 0 100px 0;

        &.listMode{
            margin: 20px 0 0px 0;
        }

        &__list{
            display: flex;
            gap: 40px;
            margin-bottom: 50px;

            &__item{
                display: flex;
                align-items: center;
                gap: 10px;

                &.active{
                    border: 1px solid white;
                    padding: 10px;
                    border-radius: 20px;
                }
            }
        }

        &__des{
            margin: 20px;
        }

        &__btn{
            background-color: $btn-main-bg;
            color: #fff;
            font-weight: 500;
            border: none;
            padding: 10px;
            cursor: pointer;
        }

        &__search{
            height: 50px;
            background-color: #fff;
            border: 3px solid #febb02;
            display:  flex;
            align-items: center;
            justify-content: space-around;
            padding: 10px 0;
            border-radius: 5px;
            position: absolute;
            bottom: -25px;
            width: 100%;
            max-width: 1024px;

            &__item{
                display: flex;
                align-items: center;
                gap: 10px;

                &__icon{
                    color: lightgray;
                }

                &__input{
                    border: none;
                    outline: none;
                }

                &__text{
                    color: lightgray;
                    cursor: pointer;
                }

                &__date{
                    position: absolute;
                    top:100%;
                    z-index: 2;
                    
                }
            }

            &__options{
                position: absolute;
                top: 50px;
                background-color: #fff;
                color:gray;
                border-radius: 5px;
                -webkit-box-shadow:0px 0px 10px -5px rgba(0,0,0,0.4);
                box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.4);
                cursor: default;
                z-index: 2;

                &__item{
                    width: 200px;
                    display: flex;
                    justify-content: space-between;
                    margin: 10px;
                    

                    &__counter{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        font-size: 14px;
                        color: #000;

                        &__btn{
                            width: 20px;
                            border: 1px solid $btn-main-bg;
                            color: $btn-main-bg;
                            cursor: pointer;
                            background-color: #fff;
                        }
                    }
                }

            }
        }
    }
}