*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    // Làm cho text không thể được select
    user-select: none;
}

html{
    font-size: 13px;

    @include mobile{
        font-size: 11px;
    }
}

body{
    font-family: "Roboto", sans-serif;
}

ul{
    // kiểu chỉ mục: - . 1 I
    list-style-type: none;
}

a{
    text-decoration: none;
    color: unset;
}

img{
    max-width: 100%;
}